<div class="lg:w-[800px] lg:h-[800px] grid grid-cols-10 grid-rows-10"
	id="gameboard"
	hx-post="/fun-nonsense/htmx-snake/gameboard"
	hx-trigger="load delay 1s" 
	hx-swap="outerHTML">
	{% for row in grid %}
		{% for cell in row %}
			{% if cell.type == "snake" %}
			<div class="bg-white">
				<input name="snake" type="hidden" value="{{cell.pos}}, {{cell.snake_index}}" />
			</div>
			{% else if cell.type == "apple" %}
			<div class="bg-amber-500">
				<input name="cells" type="hidden" value="{{cell.pos}}" />
			</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
