{% extends "fun-nonsense/section-master.html" %}
{% block section_content %}
<h1> About Fun Nonsense </h1>
<p> 
    Hello and welcome to the fun nonsense section of my website!
    Here is where I plan on putting any weekend projects that don't really have a point to them other than to practice writing programs. 
</p>
<h2>Why?</h2>
<p> 
    I've been tossing around the idea to make a blog for years but never really got to it.
    The idea came to me from a interview Casey Muratori had with someone from a popular game studio. 
    I have tried to find the specific video with no luck for a few years now. 
</p>
<p> 
    The general idea the interviewee was getting at was the idea that to be a truly great programmer you need to practice. 
    To me, this idea makes a lot of sense. Musicians spend time practicing scales and artists might make daily challenge drawings. 
    This is different from working on something serious like songs for an album, where a songwriter is trying to make everyting as close to perfect as possible.
    If you are practicing your craft in a jam session, you shouldn't have to worry about every little detail. 
    Just spend the time you are devoting to practice being introspective about how you perform.
    I want to spend time doing that here, write some one off weekend projects, and review my output.
</p>
{% endblock %}
