{% block section %}
{% if boosted %}
<title>Why am I Here?</title>
{% endif %}
<div class="w-full flex flex-col items-center">
<div class="max-w-[800px] p-8">
    <h1 class="text-6xl dark:text-white"> About Fun Nonsense </h1>
    <br/>
    <p class="text-xl dark:text-white"> 
        Hello and welcome to the fun nonsense section of my website!
        Here is where I plan on putting any weekend projects that don't really have a point to them other than to practice writing programs. 
        I'm planning on adding a blog section to each page/project that details how I went about implementing and what I could do better.
    </p>
    <br/>
    <h2 class="text-4xl dark:text-white">Why?</h2>
    <br/>
    <p class="text-xl dark:text-white"> 
        I've been tossing around this idea for years but never really had a place to put any of the results.
        The idea came to me from a interview Casey Muratori had with someone from a popular game studio. 
        I'll have to go back and check exactly who it was, but whoever they were made a great point.
    </p>
    <p class="text-xl dark:text-white p-2"> 
        (Paraphrased) To be great at programming you have to practice. 
        You have to spend time every week getting better at your craft, devoting the entirety of the time you spend to getting better.
        Whatever you do as practice should not be something you ever look at to work on again, you take what you learn from the experience and move on.
    </p>
    <p class="text-xl dark:text-white"> 
    To me, this idea makes a lot of sense. Musicians spend time practicing scales, they don't spend time practicing finishing songs.
    If you are writing a song, you should finish it. If you are practicing your craft in a jam session, you shouldn't have to worry about every little detail. 
    Just spend the time you are devoting to practice being introspective about how you perform. 
    I want to spend time doing that here, write some one off weekend projects, and review my output.
    </p>
</div>
</div>
{% endblock %}
