{% macro toggle() %}
	<div class="h-12 w-24 rounded-3xl border border-color border-[3px] transition-colors border-rose-400 dark:border-rose-300 
		flex items-center px-1 z-50
		cursor-pointer relative"
		onclick="toggle(this);">
		<div class="h-[2rem] w-[2rem] rounded-3xl bg-rose-400 dark:bg-rose-300
			transition-transform dark:translate-x-[3.2rem]" >
			<div class="dark:hidden w-full h-full flex place-content-center right-4">
				<i class="justify-center items-center w-full h-full text-rose-50
					fa-solid fa-sun fa-lg"></i>
			</div>
			<div class="dark:flex hidden w-full h-full place-content-center left-4">
				<i class="justify-center items-center w-full h-full 
					fa-solid fa-moon fa-lg"></i>
			</div>
		</div>
	</div>
{% endmacro %}
<!doctype html>
<html class="dark" >
<head >
	<title>Yurts are awesome</title>
	<link href="/static/tailwind.css" rel="stylesheet" type="text/css" />
	<style>
		:root {
			--fa-display: flex;
		}
	</style>
	<script src="/static/htmx.min.js"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
	<script src="https://kit.fontawesome.com/6cf318b276.js" crossorigin="anonymous"></script>
    <script src="/blurb_handling.js"></script>
	<script>
		function toggle(sender) {
            let documentClass = document.documentElement.classList;
            if(documentClass.value == "dark")
                documentClass.remove("dark");
            else
                documentClass.add("dark");
        }

        function 

	</script>
</head>
<body class="w-screen h-screen overflow-x-hidden overflow-y-scroll relative transition-colors bg-white dark:bg-slate-800">
	<div id="dashboard-section" class="relative h-screen h-full overflow-y-visible ">
		<div class="absolute top-0 right-0 h-32 w-32 pt-4 pr-4">
			{{ toggle() }}
		</div>
		<div id="landing-page" class="h-screen w-full justify-center items-center flex relative">
				<h1 id="welcome-text" 
					class="dark:text-white text-7xl" >
					I'm Camilo,
					<br/>
					Welcome to my website...
				</h1>
                <div id="landing-page-grid" class="absolute grid inset-0 p-8 auto-cols-[250px] auto-rows-[100px]"
                    hx-post="/api/blurb"
                    hx-swap="beforeend"
                    hx-vals="js:{displayed_rects: getRects(), grid_h: getGridHeight(), grid_w: getGridWidth()}"
                    hx-ext="json-enc">
                </div>
		</div>
	</div>
    <div id="projects-section"
        class="w-full p-20 flex flex-col items-center justify-center">
        <div>
            <h2 class="w-full text-5xl dark:text-white pb-8 underline underline-offset-8">
                Things I'm working on
            </h2>
            <div class="flex flex-wrap md:w-[500px] md:h-[200px] lg:w-[750px] lg:h-[300px] xl:w-[1000px] xl:h-[400px]">
                {% include 'thrive.html' %}
            </div>
        </div>
    </div>
</body>
</html>
