{% extends 'project.html' %}
{% block image_url %}https://upload.wikimedia.org/wikipedia/commons/e/e8/Thrive.png{% endblock %}
{% block project_title  %}
Descent
{% endblock %}
{% block project_body %}
<a href="https://camilomcatasus.itch.io/descent" class="underline cursor-pointer">Descent</a> is a souls like 2d platformer action game. 
It was made by:
<ul>
    <li>Camilo Catasus (Gameplay Code and 3D Models</li>
    <li>Natalie Maronas (Music and Art)</li>
    <li>Matther Fernandez (Gameplay Code)</li>
    <li>Dev Rodriguez (Textures)</li>
</ul>
{% endblock %}
