{% extends "true-base.html" %}
{% block title %}{% endblock %}
{% block main_section %}
<div class="absolute w-0 h-full sm:relative sm:w-60 transition-[width] shrink-0 grow-0 top-0 bottom-0">
    <div 
        id="secondary-nav" 
        class="flex overflow-x-hidden flex-col gap-2 py-4 w-0 h-full sm:w-60 dark:text-white transition-[width] drop-shadow-md sm:dark:bg-slate-900 dark:bg-slate-850" 
        hx-boost="true"
        hx-target="#boost-container">
        <!--<input id="nav-search" type="text" />-->
        {% for route in routes %}
        <a href="{{route.path}}" class="px-4 w-60">{{route.text}}</a>
            {% for sub_routes in route.routes %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="flex absolute bottom-4 -right-12 justify-center items-center w-12 h-12 rounded-r-xl sm:hidden dark:text-white drop-shadow-md dark:bg-slate-700">
        <button id="toggle-nav-button" class="hamburger hamburger--arrow scale-[0.6]" type="button">
            <span class="hamburger-box">
                <span class="dark:bg-white hamburger-inner"></span>
            </span>
        </button>
    </div>
</div>
<div id="boost-container" class="flex overflow-y-auto w-full h-full grow">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
